/* *(Asterístico) -> Seletor universal. Vai aplicar para todos os elementos
Realizando o reset do CSS. Retira os alinhamentos padrões do navegador*/

* {
  margin: 0;
  padding: 0;
  /*Realizando o reset do CSS. Retira os alinhamentos padrões do navegador*/
  box-sizing: border-box; /*Medida do tamanho da caixa. Sendo medida a partir da borda*/
}

/*Raíz - Definindo variáveis*/
:root {
  --text-color: white; /*--text-color é uma variável com cor branca*/
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  /* background: color image repeat position/size */
  /*Antes
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;*/
  background: var(--bg-url) no-repeat top center/cover;
  /* OU
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; */
}
/* *(Asterístico) -> Seletor universal. Vai aplicar para todos os elementos dentro do body*/
Body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

div#container {
  width: 360px;
  margin: 56px auto 0px;
  /*- Ele pega a 1ª propriedade para Top (Cima)
  - Ele pega a 2ª propriedade para Right e Left (Direita e Esquerda)
  - Ele pega a 3ª propriedade para Bottom (Baixo) */
  /* margin/padding: x x x x 
  Ele pega as 4 propriedades, na ordem como o relógio: Top, Right, Botton e Left*/
  padding: 0 24px;
  /*- Ele pega a 1ª propriedade para Top (Cima) e Buttom
  - Ele pega a 2ª propriedade para Right e Left (Direita e Esquerda) */
}

/* Profile */
#profile {
  text-align: center;
  padding: 24px;
}

/*Ou div#profile*/
#profile img {
  /*No css geralmente não precisa definir a altura (height)
  Elementos inline (como img) não é possível utilizar margin: auto. Somente elementos block são capazes de usar margin: auto*/
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* Switch*/
#switch {
  Border: 1px solid red;
  position: relative;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  right: 0;
  z-index: 1;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}
/* links - lista */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px; /* Arredondamento de borda*/

  backdrop-filter: blur(4px); /* Borramento */
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none; /*Retira o sublinhado do link*/
  font-weight: 500;

  transition: background 0.2s;
}

/* pseudo-selector */
ul li a:hover {
  /*Ao passar o mouse por cima*/
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* social links*/
div#social-links {
  display: flex;
  justify-content: center; /* Justificar/alinhar conteúdo ao meio */

  padding: 24px 0;

  font-size: 24px; /*Tamanho da fonte*/
}

div#social-links a {
  display: flex;
  align-items: center;
  justify-content: center; /*Centraliza o conteúdo na horinzontal*/
  padding: 16px;

  transition: background 0.5s;
  border-radius: 50%;
}
/*Ao passar o mouse por cima*/
div#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
}
