/* *(Asterístico) -> Seletor universal. Vai aplicar para todos os elementos
Realizando o reset do CSS. Retira os alinhamentos padrões do navegador*/

* {
  margin: 0;
  padding: 0;
  /*Realizando o reset do CSS. Retira os alinhamentos padrões do navegador*/
  box-sizing: border-box; /*Medida do tamanho da caixa. Sendo medida a partir da borda
}

body {
  /* background: color image repeat position/size */
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
  /* OU
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; */
}
/* *(Asterístico) -> Seletor universal. Vai aplicar para todos os elementos dentro do body*/
Body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

div#container {
  width: 360px;
  border: 1px solid red;
  margin: auto;
  /* Ou
  margin-right: auto;
  margin-left: auto;
  */
}

#profile {
  text-align: center;
}

/*Ou div#profile*/
#profile img {
  /*No css geralmente não precisa definir a altura (height)
  Elementos inline (como img) não é possível utilizar margin: auto. Somente elementos block são capazes de usar margin: auto*/
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}
