body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; */

  /* background: color image repeat position/size */
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

div#container {
  width: 360px;
  border: 1px solid red;
  margin: auto;
  /* Ou
  margin-right: auto;
  margin-left: auto;
  */
}

/*Ou div#profile*/
#profile img {
  /*No css geralmente não precisa definir a altura (height)*/
  width: 112px;
  margin: auto;
}